{% block advanced_search %}
    <div class="grid-x callout secondary">
        <form action="{{ createUrl('search', 'show') }}" id="search-form" method="get"
              class="cell small-12 medium-6 margin-auto">
            <div class="input-group">
                <input type="hidden" name="controller" value="searchController">
                <input type="hidden" name="action" value="show">
                <input type="hidden" name="type" value="advanced">
                <input type="hidden" name="page" value="{{ cPage ?: 0 }}">
                <input type="hidden" name="size" value="20">
                <input type="hidden" name="autoId" value="{{ vehicleInfo.id }}">
                <a class="reset-input" style="{{ query ? 'display: block' : 'display: none' }}"><i
                            class="fas fa-times"></i></a>
                <input class="input-group-field" placeholder="{{ 'SEARCH_PLACEHOLDER'|t }}" type="text" name="query"
                       value="{{ query }}" autocomplete="off"
                       data-autocomplete-url="{{ createUrl('search', 'getAutocomplete') }}">
                <div class="input-group-button">
                    <button type="submit" class="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <fieldset>
                <input id="detect_vehicle" {{ options.detect_vehicle ? 'checked' : '' }} name="options[detect_vehicle]"
                       type="checkbox"><label for="detect_vehicle">{{ 'DETECT_VEHICLE'|t }}</label>
                <input id="detect_brands" {{ options.detect_brands ? 'checked' : '' }} name="options[detect_brands]"
                       type="checkbox"><label for="detect_brands">{{ 'DETECT_BRANDS'|t }}</label>
                <input id="detect_oems" {{ options.detect_oems ? 'checked' : '' }} name="options[detect_oems]"
                       type="checkbox"><label for="detect_oems">{{ 'DETECT_OEMS'|t }}</label>
                <input id="detect_crossbrands" {{ options.detect_crossbrands ? 'checked' : '' }} name="options[detect_crossbrands]"
                       type="checkbox"><label for="detect_crossbrands">{{ 'DETECT_CROSSBRANDS'|t }}</label>
                <input id="detect_crossoems" {{ options.detect_crossoems ? 'checked' : '' }} name="options[detect_crossoems]"
                       type="checkbox"><label for="detect_crossoems">{{ 'DETECT_CROSSOEMS'|t }}</label>
                <input id="detect_crossparts" {{ options.detect_crossparts ? 'checked' : '' }} name="options[detect_crossparts]"
                       type="checkbox"><label for="detect_crossparts">{{ 'DETECT_CROSSPARTS'|t }}</label>
                <input id="detect_originals" {{ options.detect_originals ? 'checked' : '' }} name="options[detect_originals]"
                       type="checkbox"><label for="detect_originals">{{ 'DETECT_ORIGINALS'|t }}</label>
            </fieldset>
            <fieldset>
                <label for="filter-by-search_by">{{ 'SEARCH_BY'|t }}</label>
                <select id="search_by" name="options[search_by]">
                    <option value="OFFER" {{ options.search_by == 'OFFER' ? 'selected' : '' }}>{{ 'SEARCH_BY_OFFER'|t }}</option>
                    <option value="OFFER_AND_DETAIL" {{ options.search_by == 'OFFER_AND_DETAIL' ? 'selected' : '' }}>{{ 'SEARCH_BY_OFFER_AND_DETAIL'|t }}</option>
                    <option value="OFFER_AND_DETAIL_AND_CROSS" {{ options.search_by == 'OFFER_AND_DETAIL_AND_CROSS' ? 'selected' : '' }}>{{ 'SEARCH_BY_OFFER_AND_DETAIL_AND_CROSS'|t }}</option>
                </select>
            </fieldset>
            <fieldset>
                <label for="filter-by-search_by">{{ 'SEARCH_BY'|t }}</label>
                <select id="search_by" name="options[search_by]">
                    <option value="OFFER" {{ options.search_by == 'OFFER' ? 'selected' : '' }}>{{ 'SEARCH_BY_OFFER'|t }}</option>
                    <option value="OFFER_AND_DETAIL" {{ options.search_by == 'OFFER_AND_DETAIL' ? 'selected' : '' }}>{{ 'SEARCH_BY_OFFER_AND_DETAIL'|t }}</option>
                    <option value="OFFER_AND_DETAIL_AND_CROSS" {{ options.search_by == 'OFFER_AND_DETAIL_AND_CROSS' ? 'selected' : '' }}>{{ 'SEARCH_BY_OFFER_AND_DETAIL_AND_CROSS'|t }}</option>
                </select>
            </fieldset>
            <fieldset>
                <input id="filter-by-tag" {{ options.tagToggler ? 'checked' : '' }} name="options[tagToggler]"
                       type="checkbox"><label for="filter-by-tag">{{ 'FILTER_BY_TAG'|t }}</label>
            </fieldset>
            <div id="tag-container" style="display: none">
                <fieldset class="callout">
                    <div class="tags">
                        {% for tag in tags %}
                            <span class="badge-block"><input type="hidden" name="tags[]" value="{{ tag }}"><span
                                        class="badge primary">{{ tag }} <a><i class="fas fa-times-circle"></i></a></span></span>
                        {% endfor %}
                    </div>
                    <div class="input-group cell medium-5">
                        <input type="text" id="add-tag" class="input-group-field">
                        <div class="input-group-button">
                            <button class="button" id="add-tag-button"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <label for="tag_concatenation_type">{{ 'TAG_CONCATENATION_TYPE'|t }}</label>
                    <select id="tag_concatenation_type" name="options[tag_concatenation_type]">
                        <option value="AND" {{ options.tag_concatenation_type == 'AND' ? 'selected' : '' }}>{{ 'TAG_CONCATENATION_TYPE_AND'|t }}</option>
                        <option value="OR" {{ options.tag_concatenation_type == 'OE' ? 'selected' : '' }}>{{ 'TAG_CONCATENATION_TYPE_OR'|t }}</option>
                    </select>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}
