{% block vehicle %}
    <li class="accordion-item" data-accordion-item>
        <a href="javascript:void(0)" class="accordion-title">{{ vehicleInfo.brand ~ ' ' ~ vehicleInfo.name }}</a>
        <div class="accordion-content" data-tab-content>
            <h5>{{ vehicleInfo.brand ~ ' ' ~ vehicleInfo.name }}</h5>
            <div class="attributes">
                {% for attribute in vehicleInfo.attributes %}
                    <div class="grid-x">
                        <div class="name cell medium-2 gray small-6">{{ attribute.label }}</div>
                        <div class="value cell medium-10 small-6">{{ attribute.values|join("\n") | nl2br | raw }}</div>
                    </div>
                {% endfor %}
                <div class="grid-x">
                    <div class="name cell medium-2 gray small-6">{{ 'VEHICLE_INDEX_STATE'|t }}</div>
                    <div class="value cell medium-10 small-6">{{ vehicleInfo.state }}</div>
                </div>
            </div>
            {% if foundedVehicles|length > 1 %}
                <a class="expanded button margin-top"
                   href="{{ createUrl('search', 'select', {'vin': result.parsedRequest.detectedVehicleIdent, 'query': query} ) }}">{{ 'CHANGE_MODIFICATION'|t }}</a>
            {% endif %}
        </div>
    </li>
{% endblock %}