{% block table_body %}

    <tbody>
    {% if tasks %}
        {% for task in tasks %}
            <tr {% if task %}data-progress="{{ task.progressPercent ?: 1 }}"{% endif %}>
                <td><a class="file-name" data-id="{{ task.id }}"
                       href="{{ createUrl('files', 'downloadSource', {'taskId': task.id}) }}">{{ task.sourceFile }}</a>
                </td>
                <td>{{ ('TASK_' ~ task.state|upper)|t }}</td>
                <td>{% if task.linesProcessed > 0 %}{{ task.linesProcessed | number_format(0, '.', '&nbsp;')|raw }}{% endif %}</td>
                <td>{{ task.createdTime|date('d-m-Y H:i:s') }}</td>
                <td>{{ task.lastModifiedTime|date('d-m-Y H:i:s') }}</td>
                <td>
                    {% if task.error %}{{ task.error }}<br>{% endif %}
                    {% if task.errorFileExists %}
                        <a href="{{ createUrl('files', 'downloadErrors', {'taskId': task.id}) }}"
                           class="danger">{{ 'DOWNLOAD_FILE_WITH_ERRORS'|t }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">{{ 'NOTHING_FOUND'|t }}</td>
        </tr>
    {% endif %}
    </tbody>
{% endblock %}